<p id="notice"><%= notice %></p>

<h1>Van timings</h1>

<%= form_tag(schedules_path,  method: :get) do %>
  <%= text_field_tag :destination %>
  <%= submit_tag 'Search' %>
<% end %>


<table class="table">
  <thead>
  <tr>

    <th>Destination</th>
    <th>Time</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.destination %></td>
      <td><%= schedule.time %></td>

    </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'Book Van', new_project_path %>
<%end %>